<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-48">
                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                    <h2 class="text-center">Forgot Password?</h2>
                    <p>You can reset your password here.</p>
                </span>

                <div class="wrap-input100 validate-input ">
                    <input class="input100" type="text" name="user" [(ngModel)]="userEmail" placeholder="Email"
                        id="user">
                </div>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <input type="submit" class="login100-form-btn" value="Reset Password" data-toggle="modal" data-target="#myModal">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Confirm</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                    password reset email has been sent to <a href="#" style="color: blue">gainamit11cs@gmail.com</a> 
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" (click)="sendResetMail()">Ok</button>
              </div>
              
            </div>
          </div>
        </div>
        
      </div>
            

<!-- <div id="dropDownSelect1"></div> -->