<div class="limiter">
  <div class="container-login100">
      <div class="wrap-login100">
          <form class="login100-form validate-form" (submit)="loginValidation($event)">
              <span class="login100-form-title p-b-26">
                  Welcome
              </span>
              <span class="login100-form-title p-b-48">
                  <i class="zmdi zmdi-font"></i>
                  <small class="text-danger" [ngStyle]="{'display':isUserValid ? 'none' : 'block' }">Invalid UserName Or Password</small>
              </span>

              <div class="wrap-input100 validate-input ">
                  <input class="input100" type="text" name="user" [(ngModel)]="userName" placeholder="UserName/Email" id="user">
              </div>

              <div class="wrap-input100 validate-input">
                  <span class="btn-show-pass">
                      <i class="zmdi zmdi-eye"></i>
                  </span>
                  <input class="input100" type="password" name="password" [(ngModel)]="password" placeholder="Password" id="pwd">
              </div>

              <div class="container-login100-form-btn">
                  <div class="wrap-login100-form-btn">
                      <div class="login100-form-bgbtn"></div>
                      <input type="submit" class="login100-form-btn" value="Login">
                  </div>
              </div>

              <div class="text-center p-t-115">
                  <span class="txt1">
                      Don’t have an account?
                  </span>

                  <a class="txt2" href="#" routerLink="/signup" routerLinkActive="active">
                      Sign Up
                  </a>
              </div>
              <div class="text-center p-t-5">
                <span class="txt1">
                  Forgot password?
                </span>

                <a class="txt2" href="#" routerLink="/reset-passward" routerLinkActive="active">
                    Reset password
                </a>
            </div>
          </form>
      </div>
  </div>
</div>


<!-- <div id="dropDownSelect1"></div> -->
