<div class="limiter">
  <div class="container-login100">
      <div class="wrap-login100">
          <form class="login100-form validate-form" (submit)="signUp($event)">
              <span class="login100-form-title p-b-26">
                  Please Fill The Form
              </span>
              <span class="login100-form-title p-b-20">
                  <i class="zmdi zmdi-font"></i>
              </span>

              <div class="wrap-input100 validate-input nb-remove">
                  <input class="input100" type="text" name="firstName" [(ngModel)]="firstName" id="firstName" placeholder="First Name">
              </div>

              <div class="wrap-input100 validate-input nb-remove">
                  <input class="input100" type="text" name="lastName" [(ngModel)]="lastName" id="lastName" placeholder="Last Name">
              </div>
              <div class="wrap-input100 validate-input nb-remove">
                <input class="input100" type="email" name="Email" [(ngModel)]="email" id="email" placeholder="Email">
            </div>
            <div class="wrap-input100 validate-input nb-remove">
              <span class="btn-show-pass">
                  <i class="zmdi zmdi-eye"></i>
              </span>
              <input class="input100" type="password" name="password" [(ngModel)]="password" placeholder="Password" id="pwd">
          </div>
          <div class="wrap-input100 validate-input">
            <span class="btn-show-pass">
                <i class="zmdi zmdi-eye"></i>
            </span>
            <input class="input100" type="password" name="confpassword" [(ngModel)]="confirmPassword" placeholder="Password" id="cpwd">
        </div>
              <div class="container-login100-form-btn">
                  <div class="wrap-login100-form-btn">
                      <div class="login100-form-bgbtn"></div>
                      <input type="submit" class="login100-form-btn" value="SignUp" data-toggle="modal" data-target="#myModal">
                  </div>
              </div>

            
          </form>
      </div>
  </div>
</div>
<div class="container">
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Confirm</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                    Sign Up Done Successfully .Please login . 
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" (click)="signupConfirmation()">Ok</button>
              </div>
              
            </div>
          </div>
        </div>
        
      </div>

<!-- <div id="dropDownSelect1"></div> -->
