.header {
    overflow: hidden;
    padding: 10px 10px;
  }
.header a {
    float: left;
    color: gray;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 16px; 
    line-height: 10px;
    border-radius: 4px;
  }
  .header a.logo {
    font-size: 16px;
    font-weight: bold;
    color: gray;
    text-transform: uppercase;
  }
  .header-right {
    float: right;
  }
  .header-right a{
    cursor: pointer;
}
* {
  box-sizing: border-box;
}
.row {
    display: flex;
    margin: 0px 10px;
}
.column {
  padding: 5px 0px 0px 2px;
  flex: 50%;
  height: 60px; 
} 
.newRow{
  display: flex;
  height: 100%;
} 

.constituencies {    
  background-color: cornflowerblue;
  color: white;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  min-width: 160px;
  width: auto;
  text-align: center;
  padding: 0 7px 0 7px;
  border-radius: 15px;
  margin-right: 10px;
}
.poling-booths{
  background-color: orange;
  color: white;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  min-width: 160px;
  text-align: center;
  padding: 0 7px 0 7px;
  border-radius: 15px;
  margin-right: 10px;
}
.blo{
  background-color: black;
  color: white;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  min-width: 160px;
  width: auto;
  text-align: center;
  padding: 0 7px 0 7px;
  border-radius: 15px;
  margin-right: 10px;
}

select {
  width: 230px;
  
    padding: 0 0 0 5px;
    font-size: 13px;
    border: 1px solid #ccc;
    height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../../assets/img/dropdown-icon.jpg') 98% / 8% no-repeat #eee;
}
// D:\Angular-6_November\practise\src\app\login\home\dropdown-icon.jpg

/* CAUTION: IE hackery ahead */


select::-ms-expand { 
    display: none; /* remove default arrow in IE 10 and 11 */
}


.active{
  background: green;width: 240px;
  color: white;border-radius: 10px;margin: 0 auto;
  /* background: red;  */
}
 
ul{
  padding: 0px;
}
ul li{
   list-style: none;
    background: green;
    margin: 0 auto;
    color: white;
    height: 30px;
    opacity: 0.4;
    margin-bottom: 10px;
    line-height: 30px;
    text-decoration: none;
    min-width: 160px;
    width: 240px;
    text-align: center;
    padding: 0 7px 0 7px;
    border-radius: 10px;
}
