<div style="background: darkgrey;height: 35px;">
    <h3 style="margin: 0px;display: inline-block;padding: 8px 0 0 20px;font-size: 0.8em;color: white;">i3RC POLL METER</h3>
  </div>
  <div class="header">
    <a href="#default" class="logo">Dashboard (Client)</a>
    <div class="header-right">
      <div style="color:black;font-family: bold;font-weight: 600;    text-transform: uppercase;display: inline-block;font-size: 0.8em;">Welcome,
        CLIENT 1</div> <span style="padding: 0 10px 0 10px;color: cornflowerblue;" (click)="logOutUser()">Logoff</span>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="newRow">
        <div class="column">
          <h5 style="margin: 0px;display: inline-block;padding-left: 5px;font-size: 13px;">Choose Constituency</h5>
          <!-- Dropdown -->
          <select>
            <option>Constituency 1</option>
            <option selected>Constituency 2</option>
            <option>Constituency 3</option>
            <option>Constituency 4</option>
          </select>
        </div>
        <div class="column">
          <h5 style="margin: 0px;display: inline-block;padding-left: 5px;font-size: 13px;">Choose Polling Booth</h5>
          <!-- Dropdown -->
          <select>
            <option selected>All</option>
            <option>Constituency 2</option>
            <option>Constituency 3</option>
            <option>Constituency 4</option>
          </select>
        </div>
      </div>
    </div>
    <div class="column" style="margin-top:10px;">
      <div style="float: right">
        <div class="constituencies">7 Constituencies</div>
        <div class="poling-booths">23 Poling Booths</div>
        <div class="blo">12 BLO</div>
      </div>
    </div>
  </div>
  <div style="display: flex;border: 1px solid #DDDDDD; margin: 0 15px;">
    <div style="width: 20%;border-right: 1px solid #DDDDDD;">
      <ul *ngFor="let action of actionListInforation" [ngClass]="{'active': action === 'Voter Profile'}">
        <li>{{action}}</li>
      </ul>
    </div>
    <div style="width: 80%;display: flex;margin-left: 10px;">
      <div style="width:100%;display: flex">
        <div style="width: 33%;height: 280px;">
          <div style="background-color: #001f3f;color: white;display: inline-block;height: 30px;line-height: 30px;text-decoration: none;min-width: 160px;width: auto;text-align: center;padding: 0 7px 0 7px;border-radius: 0;margin-right: 0;margin: 5px 80px;">Gender</div>
          <img src="../../../../assets/img/JJJ.png" style="    width: 310px;" />
        </div>
        <div style="width: 33%;height: 280px;">
          <div style="background-color: #001f3f;color: white;display: inline-block;height: 30px;line-height: 30px;text-decoration: none;min-width: 160px;width: auto;text-align: center;padding: 0 7px 0 7px;border-radius: 0;margin-right: 0;margin: 5px 80px;">Age</div>
          <img src="./../../../assets/img/JJJ.png" style="    width: 310px;" />
        </div>
        <div style="width: 33%;height: 280px;">
          <div style="background-color: #001f3f;color: white;display: inline-block;height: 30px;line-height: 30px;text-decoration: none;min-width: 160px;width: auto;text-align: center;padding: 0 7px 0 7px;border-radius: 0;margin-right: 0;margin: 5px 80px;">Occupation</div>
          <img src="./../../../assets/img/JJJ.png" style="    width: 310px;" />
        </div>
      </div>
      
      <!-- <div>
          <div style="width: 33%;height: 280px;">
            <div style="background-color: #001f3f;color: white;display: inline-block;height: 30px;line-height: 30px;text-decoration: none;min-width: 160px;width: auto;text-align: center;padding: 0 7px 0 7px;border-radius: 0;margin-right: 0;margin: 5px 80px;">Gender</div>
            <img src="JJJ.png" style="    width: 310px;" />
          </div>
          <div style="width: 33%;height: 280px;">
            <div style="background-color: #001f3f;color: white;display: inline-block;height: 30px;line-height: 30px;text-decoration: none;min-width: 160px;width: auto;text-align: center;padding: 0 7px 0 7px;border-radius: 0;margin-right: 0;margin: 5px 80px;">Age</div>
            <img src="JJJ.png" style="    width: 310px;" />
          </div>
          <div style="width: 33%;height: 280px;">
            <div style="background-color: #001f3f;color: white;display: inline-block;height: 30px;line-height: 30px;text-decoration: none;min-width: 160px;width: auto;text-align: center;padding: 0 7px 0 7px;border-radius: 0;margin-right: 0;margin: 5px 80px;">Occupation</div>
            <img src="JJJ.png" style="    width: 310px;" />
          </div>
        </div>
    </div> -->
  </div>
  
  <!-- [ngClass]="{'active': action === 'Voter Profile'}" -->
  <!-- [ngClass]="{'active': true}" -->
  <!-- [ngClass] -->